<nav class="navbar navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="#">
            <i class="fas fa-syringe"></i> Inventario Vacunación
        </a>
        <form class="form-inline">
            <button class="btn btn-danger my-2 my-sm-0" (click)="cerrarSesion()"><i class="fa fa-sign-out" aria-hidden="true"></i> Cerrar Sesión</button>
          </form>

    </div>

</nav>
<br>
<!-- Click on Modal Button -->
<div class="container">
    <button type="button" (click)="resetEmpleado()" class="btn btn-primary " data-bs-toggle="modal"
        data-bs-target="#modalForm">
        <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp; Agregar
    </button>
</div>


<hr>

<div class="container">

    <a class="navbar-brand " href="#">
        <i class="fas fa-user-friends"></i> &nbsp;&nbsp;Listado de Empleados
    </a>
    <hr>
    <table class="table table-bordered" >
        <thead class="bg-dark text-white">
            <tr>
                <th scope="col">Nro.</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Cédula</th>
                <th scope="col">Correo</th>
                <th scope="col">Usuario</th>
                <th scope="col">Password</th>
                <th scope="col">Rol</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of empleados; index as i">
                <th scope="row">{{i+1}}</th>
                <td>{{employee.nombre}}</td>
                <td>{{employee.apellido}}</td>
                <td>{{ employee.cedula }}</td>
                <td>{{employee.correo}}</td>
                <td>{{employee.usuario}}</td>
                <td>{{employee.password}}</td>
                <td>{{employee.rol}}</td>
                <td>
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <button type="button" (click)="openForEdit(employee)" data-bs-toggle="modal"
                            data-bs-target="#modalForm" class="btn btn-secondary"><i
                                class="fas fa-edit    "></i></button>
                        <button type="button" (click)="eliminarEmpleado(employee)" class="btn btn-danger"><i
                                class="fa fa-trash" aria-hidden="true"></i></button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-4">

            <!-- Modal -->

            <div class="modal fade" id="modalForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="card mt-4">
                            <div class="card-body">
                                <div class="card-title">
                                    <h3>{{selectedEmployee.id == 0 ? "Inserte un nuevo Empleado" : "Editar Empleado"}}
                                    </h3>
                                </div>
                                <hr>


                                <div class="form-group mt-2">
                                    <strong> <label class="form-label">Nombres:</label></strong>
                                    <input type="text" onkeypress="return /[a-z]/i.test(event.key)"
                                        [(ngModel)]="selectedEmployee.nombre" placeholder="Ej. Eduardo Fabian"
                                        class="form-control">
                                </div>
                                <div class="form-group mt-2">
                                    <strong> <label class="form-label">Apellidos:</label> </strong>
                                    <input type="text" onkeypress="return /[a-z]/i.test(event.key)"
                                        [(ngModel)]="selectedEmployee.apellido" placeholder="Ej. Cardenas Muñoz"
                                        class="form-control">
                                </div>
                                <div class="form-group mt-2">
                                    <strong> <label class="form-label">Cédula:</label></strong>
                                    <input required maxlength="10" type="text"
                                        onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;"
                                        [(ngModel)]="selectedEmployee.cedula" placeholder="Ej. 1245212166"
                                        class="form-control">
                                </div>
                                <div class="form-group">
                                    <strong><label for="email">Correo:</label></strong>
                                    <input type="text" class="form-control" placeholder="Ej. ejemplo@email.com"
                                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" id="email" name="email"
                                        [(ngModel)]="selectedEmployee.correo" #emailref="ngModel">
                                    <div *ngIf="emailref.errors &&(emailref.touched || emailref.dirty)"
                                        class="alert alert-danger">
                                        <div [hidden]="!emailref.errors?.pattern">
                                            Ingrese un correo válido
                                        </div>
                                    </div>
                                    <small id="emailHelp" class="form-text text-muted">Nunca compartas tu correo con
                                        nadie.</small>
                                </div>

                                <div class="form-group ">
                                    <strong> <label for="start">Rol: </label></strong>
                                    <select class="form-select" id="inputGroupSelect03" [(ngModel)]="selectedEmployee.rol" >
                                        <option value="empleado">Empleado</option>
                                        <option value="administrativo">Administrativo</option>
                                    </select>
                                </div>

                                <div class="col text-center">
                                    <button (click)="addOrEdit()" class="btn btn-primary mt-4">
                                        Guardar <i class="fas fa-save"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


<router-outlet></router-outlet>