<div class="login-box">

    <h1>Ingreso al Sistema </h1>

        <div class="form-group">
            <span class="col-md-12 "><i class="fa fa-user bigicon"> </i>
                <label for="username" class="form-label"> &nbsp;&nbsp;Username/e-mail </label></span>
            <input id="fname" [(ngModel)]="user.usuario" name="name" type="text">

        </div>
        <div class="form-group ">
            <span class="col-md-12"><i class="fas fa-key "></i> <label for="password" class="form-label">
                    &nbsp;&nbsp;Password</label></span>
            <input id="password" name="password" type="password" [(ngModel)]="user.password" pattern=".{6,}">

        </div>
        <div class="form-group">
            <div class="col text-center">
                <button  type="button" class="btn btn-warning mt-3 " (click)="iniciarSesion()"> Ingresar </button>
                <br><br>
                <hr>
                <a href="#" class="link-light">Registrar nuevo usuario</a>
            </div>
        </div>
        <br>
        <div class="text-center mb-3">
            <p>Creado por Edwin Cóndor</p>

            <a type="button" target="_blank" class="btn btn-primary btn-floating mx-1"
                href="https://github.com/EdwinCDones">
                <i class="fab fa-github"></i>
            </a>
        </div>
</div>
























<router-outlet></router-outlet>