<div class="container">
    <div class="row">
        <div class="col-md-8 mt-5">
            <div class="well well-sm">
                <legend>Ingreso al Sistema</legend>
                <br><br>
                <form class="form-horizontal" method="post">
                    <fieldset>

                        <div class="form-group">
                            <span class="col-md-8 col-md-offset-1 "><i class="fa fa-user bigicon"> </i>
                                <label class="form-label"> Username/e-mail </label></span>
                            <div class="col-md-8">
                                <input id="fname" name="name" type="text" placeholder="Username/e-mail"
                                    class="form-control">
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <span class="col-md-8 col-md-offset-1 "><i class="fa fa-user bigicon"></i> <label
                                    class="form-label">Password</label></span>
                            <div class="col-md-8">
                                <input id="password" name="password" type="text" placeholder="Password"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="modal-footer d-block col-md-8">
                                <p class="float-start">Registrar <a href="#">Sign Up</a></p>
                                <button routerLink="/administrativo" type="submit"
                                    class="btn btn-warning float-end">Ingresar</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
      
    </div>
</div>
























<router-outlet></router-outlet>